@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto
    bg-gray-800 text-green-500 
    hover:bg-green-600 hover:text-white
    rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all scale-0 origin-left;
  }
  .sidebar-icon:hover .sidebar-tooltip {
    @apply scale-100;
  }
  .header_top_icon_wrapper {
    @apply bg-gray-200 text-gray-900 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-pink-600
    hover:text-white;
  }
}
